* {
  margin: 0;
  padding: 0;
}

:root {
  --output-color-red: #c05c48;
  --output-color-green: #67b04b;
  --output-color-no-select:#384655;
  --dark-color-red-bg: rgba(168, 64, 64, 0.356);
  --background-color: #1a1e24;
  --background-kata: #212a33;
  --a-color: #9d9d9d;
  --level-5-hover-blue: #A8D2F2;
  --level-5-blue: #5DA0D7;
  --level-4-hover-purple: #C5A3CD;
  --level-4-purple: #9264A7;
  --level-3-hover-pink: #F08DB9;
  --level-3-pink: #E94792;
  --level-2-hover-orange: #F4B67D;
  --level-2-orange: #F6A240;
  --level-1-hover-green: #B5CF89;
  --level-1-green: #9CC763;
}

a{
  color:  var(--a-color);
}
  
.App {
  /* background-color: #183153; */
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 3%;
}

.active {
  color: rgb(255, 255, 255) !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.Kata a, .home, .home > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home > * {
  width: 80%;
}

.level {
  position: relative;
  text-align: center;
  color: white;
}

.Kata a h3{
  width: 80%;
  padding-left: 4%;
}

.Kata a h3:hover{
  color: white;
}


.Kata a div {
  width: 15%;
  font-size: small;
  font-weight: bold;
}

.Kata a div img, .Kata a div div{
  width: 100%;
}

.Kata {
  width: 94%;
  margin: 3% 1%;
  padding: 2%;
  border-radius: 20px;
  background-color: var(--background-kata);
}

.img_level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LEVELS COLORS HOVER & NOT */
/* LEVEL 5 */
.hover_5 a div div, .hover_5 a h3, .hover_5 a h3:hover, .hover_5 p, .instructions_5, .instructions_5 button a {
  color: var(--level-5-hover-blue);
}

._5 a div div, ._5 a h3, ._5 a h3:hover, ._5 p, ._kata_5 ul li a, ._output_5,.btn_5 button {
  color: var(--level-5-blue);
}

/* LEVEL 4 */
.hover_4 a div div, .hover_4 a h3, .hover_4 a h3:hover, .hover_4 p, .instructions_4, .instructions_4 button a {
  color: var(--level-4-hover-purple);
}

._4 a div div, ._4 a h3, ._4 a h3:hover, ._4 p, ._kata_4 ul li a, ._output_4, .btn_4 button {
  color: var(--level-4-purple);
}

/* LEVEL 3 */
.hover_3 a div div, .hover_3 a h3, .hover_3 a h3:hover, .hover_3 p, .instructions_3, .instructions_3 button a {
  color: var(--level-3-hover-pink);
}

._3 a div div, ._3 a h3, ._3 a h3:hover, ._3 p, ._kata_3 ul li a, ._output_3, .btn_3 button {
  color: var(--level-3-pink);
}

/* LEVEL 2 */
.hover_2 a div div, .hover_2 a h3, .hover_2 a h3:hover, .hover_2 p, .instructions_2, .instructions_2 button a {
  color: var(--level-2-hover-orange);
}

._2 a div div, ._2 a h3, ._2 a h3:hover, ._2 p, ._kata_2 ul li a, ._output_2, .btn_2 button {
  color: var(--level-2-orange);
}

/* LEVEL 1 */
.hover_1 a div div, .hover_1 a h3, .hover_1 a h3:hover, .hover_1 p, .instructions_1, .instructions_1 button a {
  color: var(--level-1-hover-green);
}

._1 a div div, ._1 a h3, ._1 a h3:hover, ._1 p, ._kata_1 ul li a, ._output_1, .btn_1 button {
  color: var(--level-1-green);
}

.border {
  border: 0.3px solid rgba(147, 143, 143, 0.743);
  border-radius: 5px;
  padding: 1% 1%;
}

.highlight {
  color: rgb(120, 161, 196);
}

/* CODEMIRROR */

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  width: 90%;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;

}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-kata);
  color: white;
  padding: .5rem;
  margin: 1%;
  border-radius: .6rem;
}

.CodeMirror {
  height: 100% !important;
  border-radius: .5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
  margin: 0% 1%;
}

.CodeMirror-lines {
  padding: 6px !important;
}


/* OUTPUT */
@media only screen and (min-width: 768px) {
.kata_display {
    display: flex;
    width: 97%;
    justify-content: space-evenly;
  }

.kata_display_1, .kata_display_2 {
  width: 50%;
  padding: 1%;
}
}

.kata_display_1 ul li {
  text-align: center;
}

.kata_display_1 ul li a {
  padding: 1%;
}

.output_border_red {
  border-color: var(--output-color-red) !important;
}

.output_border_green {
  border-color: var(--output-color-green) !important;
}

.output_red {
  color:var(--output-color-red);
}

.output_green {
  color: var(--output-color-green);
}

.btns_output button {
  border:none;
  border-radius: .5rem;
  width: 28%;
  padding: 1% 4%;
  background-color: var(--background-kata)
}

.btn_green {
  color: white !important;
  background-color: var(--output-color-green) !important;
}

.btn_red {
  color: white !important;
  background-color: var(--output-color-red) !important;
}

.btns_output {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

.test_red {
  background-color: var(--output-color-green);
}

.test_green {
  background-color: var(--output-color-red);
}

.output_congratulations{
  margin: 5% 3%;
  padding: 4% ;
  border: dotted;
}

.result-type--error, .result-type--console{
  font-weight: 400;
  margin: 2%;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  overflow: auto;
  padding: 0.75rem;
  color:white;
}

.result-type--error{
  background-color: var(--dark-color-red-bg);
  border: 1px solid var(--output-color-red);
}

.result-type--console{
  border: 1px solid gray;
}

.output, .output_empty {
  margin: 1%;
  border: solid 1.5px;
  border-radius: 10px;
  padding: 2%;
  overflow-y: auto;
}

.output {
  color: white;
  height: 38vh;
}

/* width */
.output::-webkit-scrollbar, .instructions_1::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
.output::-webkit-scrollbar-track, .instructions_output::-webkit-scrollbar-track {
  border-radius: 10px !important;
}
 
/* Handle */
.output::-webkit-scrollbar-thumb, .instructions_output::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
}

.output_border_green::-webkit-scrollbar-thumb {
  background: var(--output-color-green); 
}

.output_border_red::-webkit-scrollbar-thumb {
  background: var(--output-color-red); 
}

/* INSTRUCTIONS OUTPUT */

.instructions_5::-webkit-scrollbar-thumb {
  background: var(--level-5-blue); 
}

.instructions_4::-webkit-scrollbar-thumb {
  background: var(--level-4-purple); 
}

.instructions_3::-webkit-scrollbar-thumb {
  background: var(--level-3-pink); 
}

.instructions_2::-webkit-scrollbar-thumb {
  background: var(--level-2-orange); 
}

.instructions_1::-webkit-scrollbar-thumb {
  background: var(--level-1-green); 
}

.instructions img {
  width: 20%;
  margin: 2% 40%;
  margin-top: 5%;
}

.instructions_output img {
  width: 200px;
  margin: 2% 12%;
  margin-top: 5%;
}



/* Handle on hover
.output::-webkit-scrollbar-thumb:hover {
  background: var(--level-5-hover-blue); 
} */

.outputpane {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  margin-bottom: 4%;
}

hr {
  margin: 2% 0%;
  border: none;
  border-top: solid 0.2px;
}

.flex_icon, .sub_flex_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: solid; */
}

.sub_flex_icon {
  margin: 0% 8%;
}

.flex_icon, .flex_icon > *, .sub_flex_icon > * {
  padding: 1.5%;
}

.flex_icon > * > * {
  padding: 2%;
}

.solution_green,.solution_red {
  margin: 3%;
  border: solid;
  border-radius: .5rem;
}

.solution_green {
  border-color: var(--output-color-green);
}

.solution_red {
  border-color: var(--output-color-red);
}


/* INSTRUCTIONS */

.instructions_5, .instructions_4, .instructions_3, .instructions_2, .instructions_1{
 background-color: var(--background-kata);
 border-radius: .9rem;
 border: solid;
 padding: 3% 4%;
 margin: 3%;
 height: 38vh;
 overflow-y: auto;
}


.instructions_5 > * > *, .instructions_4 > * > *, .instructions_3 > * > *, .instructions_2 > * > *, .instructions_1 > * > *{
  margin: 4% 0%;
 }

 .start_btn {
  margin: 2%;
  width: 90%;
  text-align: center;
  border:none;
  border-radius: .8rem;
  padding: 2% 4%;
  background-color: var(--background-color);
}

.instructions_5 button a, .instructions_4 button a , .instructions_3 button a , .instructions_2 button a , .instructions_1 button a   {
  margin: 0;
  display: block;
  width: 100%;
  font-size: 1rem;
}
